@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{    
    ViewData["Title"] = "My Site";
}
<h1>My First Site</h1>
<img src="img/20180907_104016.jpg" width="400" height="500" />
<h2>Jacob Long</h2>
<div>
    I hope to get better practice making my websites do things.
    Anyone can make text appear, and some can even create forms or buttons,
    but I want to take that and use them to make my websites responsive.
    I want to learn that by doing using projects rather than trying using tests.
</div>

<div>
    <h2>My Dream Jobs</h2>
    <h3>#1: System Analyst</h3>
    <h3>#2: Project Manager</h3>
    <h3>#3: Risk Analyst</h3>
</div>





<script src="js/GradeCalc.js"></script>